@import "variables";

// 颜色类
.primaryColor {
  color: $primaryColor
}
.secondaryColor {
  color: $secondaryColor;
}
.shareColor {
  color: $shareColor;
}
.getColor {
  color: $getColor
}

.active {
  font-weight: bold;
  color: $primaryColor;
}

.circular {
  margin: 0 auto;
}
